html {
    background-color: #000;
    padding: 25px;
}

main {
    width: 1310px;
    border: 10px solid #fff;
    margin: 0 auto;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

header {
    color: #007D7B;
    background-color: #000;
    padding-left: 150px;
    padding-right: 150px;
    margin: 0 auto;
}

header h1 {
    margin-bottom: -80px;
    text-transform: uppercase;
}

nav li {
    display: inline-flex;
    float: right;
    color: #fff;
    height: 20px;
    text-transform: uppercase;
    padding: 20px;
}

nav {
    padding-bottom: 80px;
}

nav a {
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #007D7B;
    background-color: #fff;
    height: 20px;
}

[href="#top"] {
    position: fixed;
    text-align: center;
    bottom: 0px;
    right: 0px;
    background-color: #007D7B;
    border-radius: 10px 0 0px 0px;
}

main h2 {
    font-size: 40px;
    text-align: right;
    top: 5px;
    right: 5px;
    clear: both;
}

.self {
    width: 850px;
    display: inline-block;
    margin-top: -100px;
}

.intro {
    text-align: right;
    clear: both;
    margin-top: -190px;
}

.highlights {
    padding: 5px;
}

.highlights h2 {
    text-align: left;
}

.first-row, .second-row, .third-row, .fourth-row {
   display: inline-block; 
   position: relative;
   padding: 5px;
   font-size: 16px;
}

.Chile {
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
}

.Guatemala {
    position: absolute;
    top: 5px;
    left: 450px;
    color: #fff;
}

.Hawaii {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
}

.Iran {
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
}

.Ireland {
    position: absolute;
    bottom: 5px;
    left: 450px;
    color: #fff;
}

.Italy {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
}

.Moab {
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
    color: #fff;
}

.Rocky {
    position: absolute;
    top: 5px;
    left: 450px;
}

.Switzerland {
    position: absolute;
    top: 5px;
    right: 5px;
}

.UK {
    position: absolute;
    bottom: 5px;
    left: 5px;
    float: left;
    color: #fff;
}

.USA {
    position: absolute;
    top: 5px;
    left: 450px;
    color: #fff;
}

.Wyoming {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
}

form {
    width: 850px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    background-color: #000;
}

fieldset {
    border: none;
    padding: 2rem 0;
    text-align: left;
}

label {
    display: block;
}

input {
    margin: 10px 0 0 0;
    width: 100%;
    height: 40px;
}

input [type="submit"] {
    width: 50%;
    height: 40px;
    display: block;
    margin: 1em auto;
    margin-top: -10px;
    text-align: center;
    color: #fff;
    background-color: #007D7B;
}

small {
    color: #fff;
}

footer {
    text-align: center;
}