html {
    background-color: #000;
    padding: 25px;
}

body {
    width: 1310px;
    border: 10px solid #fff;
    margin: 0 auto;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

header {
    color: #007D7B;
    height: 40px;
    width: 420px;
}

nav li {
    list-style: none;
    display: inline-block;
    color: #fff;
    height: 20px;
    text-transform: uppercase;
}